<div class="task-wrapper" id="task-<%= task.id %>">
  <p class="task-held-at-time">
    <%= task.created_at %>
  </p>
  <p class="task-title">
    I need a <%= task.service.classification %> to <%= task.service.name %>
  </p>
  <p class="task-service hidden" service-name="<%= task.service.name %>" service-classification="<%= task.service.classification %>"></p>
  <p class="task-run-btns">
    <%= link_to "EDIT", edit_task_path(task), class: "custom-btn", remote: true %>
    <%= link_to 'DELETE', task_path(task), class: "custom-btn", method: 'delete', remote: true, data: { confirm: 'Are you sure?' } %>
  </p>
</div>
