<!DOCTYPE html>
<html>
  <head>
    <title>Tgm</title>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyA6jjTiFMlGP3gGTUF0XP0l4917iDCyYNk"></script>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="container" id="map-container"></div>
    <div id="over_map">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>

  </body>
</html>
